.if{
	background-image:url("https://th.bing.com/th/id/OIP.81wmBKGJAyVlphVyxhnbQAHaE7?w=277&h=183&c=7&o=5&dpr=1.12&pid=1.7");
	height:200px;
}
.write{
	text-align:center;
	color:solid blue;
	padding-top: 20px;
	padding-bottom: 20px;
}
.co{
	background-image:url("https://th.bing.com/th/id/OIP.54T3uU9xxp4QQotkKOynwAHaFj?w=213&h=180&c=7&o=5&dpr=1.12&pid=1.7");
	background-size:cover;

}

